<nav class="topbar">
    <p><a href="/mainpage">Start your Grocery Shopping now!</a></p>
</nav>

<nav class="navbar fixed-top top-menu">
    
    <p><a id="grocery" class="logo" href="/mainpage">Grocery Store</a></p>
    <ul> 
        <li class="nav-item">
            <a href="http://localhost:3000/users/login" data-value="login">MY ACCOUNT</a>
        </li>
        <li class="nav-item">
            <a href="http://localhost:3000/users/shoppingcart">SHOPPING CART</a>
        </li>

        <li class="nav-item">
            <a href="http://localhost:3000/menu">MENU</a>
        </li>
    </ul>
</nav>
<!-- Nav -->