<br/>
<br/>
<footer class="footer">
    <div class="container">
        <p class="footer-git"> 
            <a class="text-muted" href="https://github.com/Liz79/CS546_FinalProject"> 
                <img src="../static/imgs/GitHub-Mark-32px.png" alt="github" width=25 height=25>
            </a>
        </p>
    </div>
</footer>