<header class="topnav">
    <h1><a class="logo" href="/mainpage">Grocery Store</a></h1>
    <a href="#menu">Menu</a>
    <a href="/users/login" id="log-in">Log in</a>
    <a href="/users/signup" id="sign-up">Sign Up</a>
    <a href="/users/account" id="account">Account</a>
    <a href="/users/shoppingCart" id="shopping-cart">Shopping Cart</a>
    <a href="/users/wishlist" id="wish-list">Wish list</a>
    <a href="/users/orderhistory" id="order-history">Order history</a>
    <a href="/users/logout" id="log-out">Log out</a>
    <div id="greeting-message"></div>
    <div class="search-container">
        <form id="search" action="/mainpage">
            <input type="text" placeholder="Search.." name="searchOn" id="searchbar">
            <button type="submit" id="searchOn"><i>search</i></button>
        </form>
    </div>
</header>