{{!-- fixed-top --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <h1><a class="navbar-brand" href="/mainpage"><h1>Grocery Store</h1></a></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/mainpage"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/account" id="account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/shoppingCart" id="shopping-cart">Shopping Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/wishlist" id="wish-list">Wish list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/orderhistory" id="order-history">Order history</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/login" id="log-in">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/signup" id="sign-up">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/logout" id="log-out">Log out (<span id="greeting-message"></span>)</a>
      </li>
    </ul>
    <div class="search-container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle category-fill" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <option class="dropdown-item">Beans</option>
            <option class="dropdown-item">Beverages</option>
            <option class="dropdown-item">Breads</option>
            <option class="dropdown-item">Canned food</option>
            <option class="dropdown-item">Cereals</option>
            <option class="dropdown-item">Corn</option>
            <option class="dropdown-item">Crackers</option>
            <option class="dropdown-item">Lentils</option>
            <option class="dropdown-item">Millet</option>
            <option class="dropdown-item">Munchies</option>
            <option class="dropdown-item">Nuts</option>
            <option class="dropdown-item">Oats</option>
            <option class="dropdown-item">Oil</option>
            <option class="dropdown-item">Peas</option>
            <option class="dropdown-item">Quinoa</option>
            <option class="dropdown-item">Random</option>
            <option class="dropdown-item">Rice</option>
            <option class="dropdown-item">Risottos</option>
            <option class="dropdown-item">Sesame</option>
          </div>
        </li>
        <li class="nav-item dropdown">
          <form class="nav-item form-inline my-2 my-lg-0" id="search" action="/mainpage">
            <input class="search-round-corners mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchbar" name="searchOn">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchOn">Search</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br/>