<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<nav>
    <label class="logo" href="http://localhost:3000/mainpage">Grocery Store</label>
    <ul> 
        <li class="nav-item">
            <a  href="http://localhost:3000/mainpage">HOME</a>
        </li>
        <li class="nav-item">
            <a  href="http://localhost:3000/menu">MENU</a>
        </li>

        <li class="nav-item">
            <a  href="http://localhost:3000/users/login" data-value="login">MY ACCOUNT</a>
        </li>
        <li class="nav-item">
            <a href="http://localhost:3000/users/shoppingcart">SHOPPING CART</a>
        </li>

        
    </ul>
</nav>

<nav>


</nav>
<!-- Nav -->