{{!-- <h1>Grocery Store</h1> --}}
<h1><a class="logo" href="mainpage">Grocery Store</a></h1>

<nav class="top-menu">
    <a href="#menu">Menu</a>
    <ul>
        <li><a href="users/login">Log in</a></li>
        <li><a href="users/signup">Sign Up</a></li>
    </ul>
</nav>
<!-- Nav -->