<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Dongming Ma">
    <title>{{metaTags.title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    {{> header}}
    <main>
        {{{body}}}
    </main>
    <footer>
        {{> footer}}
    </footer>
<script>let username = "{{userInfo}}"</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='../static/js/utilities.js'></script>


</body>
</html>
