.top-menu> {
  /* height: 100px; */
  /* display: inline-block; */
  /* font-size: 2rem; */
  overflow: hidden;
}

header {
  border-bottom: 10px solid black;
}

.top-menu a {
  font-size: 150%;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#errormessage{
  font-size: 200%;
  color: red;
  text-align: center;
}

.logo {
  font-size: 200%;
}

form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */

input[type=text], input[type=password], [type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  /* box-sizing: border-box; */
}

hr {
  border: 2px solid gray;
  border-radius: 2px;
}

#name-box {
  display: flex;
  width: 100%;
  /* margin: 0 auto; */
  /* position: relative; */
  /* flex-flow: column wrap; */
}

/* Set a style for all buttons */

button {
  background-color: rgb(162, 189, 120);
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.button-group {
  display: flex;
}

/* Add a hover effect for buttons */

button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */

.cancelbtn {
  background-color: rgb(224, 79, 79);
}

/* Add padding to containers */

.container {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  padding: 16px;
}

/* .button-group {
  display: block;
  padding: 10px 18px;
  width: 70%;
} */

/* The "Forgot password" text */

span.psw {
  float: right;
  padding-top: 16px;
}