<h2>log in page</h2>

{{!-- <div id="errormessage">
    {{#if errormessage}}
    <p>
        {{errormessage}}
    </p>
    {{/if}}
</div> --}}
<div class="login_form">
    <form id="login-form" action="/users/login" method="post">
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <div class="button-group">
                <button type="submit">Login</button>
                <button type="button" class="cancelbtn" onclick="location.href='/mainpage'">Cancel</button>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="rememberme" id="rememberme"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <span class="">Forgot <a href="#" id="forget-psw">password?</a></span>
        </div>
    </form>
</div>