<body>
<h2 class="container-fluid">Enter your credentials</h2>

<div class="login_form">
    <form id="login-form" action="/users/login" method="post">
        <div class="container">
            <label for="username">
                <b>Username</b>
                <input type="text" placeholder="Enter Username" name="username" id="username" required>
            </label>
            <label for="psw">
                <b>Password</b>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            </label>
            <div class="button-group">
                <button type="submit">Login</button>
                <button type="button" class="cancelbtn" onclick="location.href='/mainpage'">Cancel</button>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="rememberme" id="rememberme"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <span class=""><a href="#" id="forget-psw">Forgot password?</a></span>
        </div>
    </form>
</div>
</body>