<body>
<br/>
<br/>
<div class="order-placed container-fluid">
    <p>Thanks for your purchase. We will get your goods shipped to your house as soon as spossible.</p>
    <button class="btn btn-lg btn-primary" onclick="location.href = '/mainpage';"> Shop more!</button>
    <br/>
    <br/>
</div>
</body>